.profile {
  display: flex;
  flex-direction: column;
  padding: 70px 30px 0;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
  box-sizing: border-box;
  flex: auto;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}

.profile__button-exit {
  text-align: center;
  color: var(--color-selection);
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 40px;
}

.form__list_type_profile {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: auto;
}

.form__item_type_profile:first-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-grey42);
  bottom: -18px;
  left: 0;
}

.form__input_type_profile {
  padding: 0;
  line-height: 13px;
  font-size: var(--text-mobile);
  background-color: var(--color-main);
  color: var(--color-white);
  text-align: right;
}

.form__input_type_profile::placeholder {
  color: var(--color-white);
  font-size: var(--text-mobile);
  line-height: 13px;
  opacity: 1;
  text-align: right;
}

.form_type_profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: auto;
}

.form__button-save_type_profile {
  background-color: transparent;
  padding: 0;
}

.form__label_type_profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 13px;
}


@media (min-width: 768px) {
  .profile {
    padding: 236px var(--indent-tablet) 0;
    box-sizing: content-box;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .form_type_profile {
    min-height: 288px;
  }

  .form__button-save_type_profile {
    font-size: 13px;
    line-height: 16px;
  }

  .footer_profile {
    padding-top: 16px;
    padding-bottom: 269px;
  }
}

@media (min-width: 1280px) {
  .profile {
    padding: 74px var(--indent-desktop) 0;
  }

  .profile__title {
    margin-bottom: 123px;
  }

  .form_type_profile {
    min-height: 298px;
  }

  .form__button-save_type_profile {
    font-size: 13px;
    line-height: 16px;
  }

  .profile__button-exit {
    margin-bottom: 70px;
  }

  .footer_profile {
    padding-top: 16px;
    padding-bottom: 70px;
  }
}