.main__container {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 768px) {
  .main__container {
    padding: 90px 50px;
  }
}

@media (min-width: 1280px) {
  .main__container {
    padding: 110px var(--indent-desktop)
  }
}