.form {
  box-sizing: border-box;
  width: 100%;
}

.form__label {
  display: block;
  position: relative;
}

.form__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form__item {
  position: relative;
}

.form__button-save {
  cursor: pointer;
  transition: 0.5s opacity ease-out;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  background: var(--color-second-two);
  padding: 8px 10px;
  border-radius: 48px;
  color: var(--color-white);
}

.form__message {
  font-size: 11px;
  line-height: 13px;
  color: var(--color-selection);
  transition: 0.5s;
  min-height: 14px;
  padding: 0;
  margin: auto 0 20px;
  text-align: center;
}

.form__button-save:disabled {
  cursor: default;
  opacity: 0.3;
}

/* Auth */
.form_type_register,
.form_type_login {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  max-width: 396px;
}

.form__list_type_register,
.form__list_type_login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__button-save_type_register,
.form__button-save_type_login {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 15px;
}

/* Profile */
.form_type_profile {
  display: flex;
  flex-direction: column;
}

.form__list_type_profile {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: auto;
}

.form_active .form__button-save_type_profile {
  width: 100%;
  border-radius: 3px;
  padding: 13px 15px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.form_active.form_type_profile {
  min-height: 468px;
}

@media (min-width: 768px) {
  .form__button-save:not([disabled]):hover {
    opacity: 0.8;
  }

  /*Auth */
  .form__list_type_login,
  .form__list_type_register {
    margin-bottom: 69px;
    min-height: 266px;
  }

  .form_type_register,
  .form_type_login {
    flex: 0;
  }

  .form__button-save_type_register,
  .form__button-save_type_login {
    font-size: 14px;
    line-height: 17px;
    padding-top: 13px;
    padding-bottom: 15px;
  }

  /* Profile */
  .form__button-save_type_profile {
    font-size: 13px;
    line-height: 16px;
  }

  .form_active.form_type_profile {
    min-height: 380px;
  }
}

@media (min-width: 1280px) {

  /* Auth*/
  .form__list_type_login,
  .form__list_type_register {
    margin-bottom: 69px;
    min-height: 266px;
  }

  .form__button-save_type_register,
  .form__button-save_type_login {
    font-size: 14px;
    line-height: 17px;
    padding-top: 13px;
    padding-bottom: 15px;
  }

  /* Profile */
  .form_active.form_type_profile {
    min-height: 330px;
  }
}