.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;

  padding: 18px var(--indent-mobile);

  flex-shrink: 0;

  font-size: 10px;
  transition: all 0.5s;
  background-color: var(--color-cover);
}

.header_login {
  background-color: transparent;
}

.header__logo {
  width: 38px;
  display: block;
}

.header__link {
  display: block;
  text-decoration: none;
  color: var(--color-white);
  transition: opacity 0.5s ease-out;
}

.header__button {
  background-color: var(--color-second-one);
  padding: 5px 12px;
  color: var(--color-black);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

.header__button-toggle {
  background-image:  url('../../images/main.svg');
  background-color: transparent;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 37px;
}

@media (min-width: 768px) {
  .header {
    padding-left: var(--indent-tablet);
    padding-right: var(--indent-tablet);
    font-size: var(--text-tablet);
  }

  .header__button {
    padding: 8px 20px;
  }

  .header__link {
    font-size: var(--text-tablet);
    
  }

  .header__link:hover {
    opacity: var(--hover-button);
  }
}

@media (min-width: 1280px) {
  .header {
    padding-left: var(--indent-desktop);
    padding-right: var(--indent-desktop);
  }
}