.techs {
  padding: 70px 18px;
}

.techs__title {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
  text-align: center;
  padding: 59px 0 24px;
  margin: 0;
}

.techs__subtitle {
  letter-spacing: -0.44px;
  margin: 0;
  text-align: center;
  padding-bottom: 50px;
}

.techs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 84px);
  grid-template-rows: repeat(4, 57px);
  justify-content: center;
  gap: 10px;
}

.techs__item {
  font-size: 12px;
  letter-spacing: -0.48px;
  line-height: normal;
  
  border-radius: 10px;
  background-color: var(--color-grey30);
  display: flex;
  justify-content: center;
  align-items: center;
}