@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./vendor/variables.css);

.page {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  background-color: var(--color-main);
  color: var(--color-white);

  display: flex;
  flex-direction: column;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: var(--text-mobile);
  line-height: var(--height-mobile);
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__container {
  margin: 0 auto;
}

.button {
  cursor: pointer;
  transition: 0.5s opacity ease-out;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;

  /* color: var(--color-second); */
}

@media (min-width: 880px) {
  .button:hover {
    opacity: 0.6;
  }

  .button:focus,
  .button:active {
    opacity: 1;
  }
}